.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1rem;
    text-align: center;
}

@media (max-width: 400px) {
    .container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        gap: 1rem;
        text-align: center;
    }
}

.card{
    height: fit-content;
}

img:hover{
    transform: scale(1.1);
    cursor: pointer;
    border: 0.2rem solid white;
    z-index: 30;
}
